@import 'components/_normalize.scss';
@import 'components/_mixins.scss';

//variables

$color-blue-primary: #5ec2d7;
$color-blue-secundary: #5BADE0;
$color-text-primary: #666666;
$color-text-secundary: #939393;


@import 'components/_iconfonts.scss';

body{
  font-size: 16px;
  font-family: 'Work Sans', sans-serif;
}

section, footer{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  overflow-x: hidden;
}

.Header{
  display: flex;
  align-items: center;
  padding: 10px;
  width: 90%;
  position: absolute;
  top: 0;
  justify-content: space-between;
  z-index: 10;
  @include mq(min-width, 768px){
    padding-top: 30px;
  }
  &__logo{
    text-shadow: 1px 1px 1px #333;
    padding-left: 30px;
    font-size: 1.3em;
    color: #fff;
    position: relative;
    img{
      width: 200px;
      position: absolute;
      top: 0px;
      left: 20px;
      @include mq(min-width, 768px){
        width: 220px;
        top: -25px;
      }
    }
  }
  &__nav{
    display: none;
    font-weight: 600;
    @include mq(min-width, 768px){
      display: block;
      width: 480px;
    }
    ul{
      display: flex;
      justify-content: space-around;
      margin: 0;
      li{
        list-style: none;
        a{
          color: #fff;
          text-decoration: none;
          z-index: 200;
        }
        a:hover{
          border-bottom: 4px solid $color-blue-primary;
        }
      }
    }

  }

}

.Above{
  background: url("/dist/images/above-bg.png") no-repeat;
  background-size: 100vw 85vh;
  width: 100vw;
  height: 84vh;
  display: flex;
  justify-content: center;
  position: relative;
  overflow-y: hidden;
  @include mq(min-width, 1000px){

  }
  @include mq(min-width, 1200px){

  }

  &__pattern{
    background-image: url("/dist/images/pattern.png");
    position: absolute;
    opacity: 0.9;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  &__bgWhite{
    background-image: url("/dist/images/above-white-bg.png");
    position: absolute;
    background-size: cover;
    width: 100%;
    height: 200px;
    bottom: 0;
    z-index: 11;
  }

  &__cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }

  h1{
    width: 70%;
    text-align: center;
    font-size: 1.5em;
    margin: 35px 0;
    text-shadow: 1px 1px 1px #777;
    color: #fff;
    @include mq(min-width, 768px){
      font-size: 1.9em;
      width: 600px;
      font-weight: bold;
    }
    @include mq(min-width, 1000px){
      font-size: 2.3em;
      width: 700px;
      line-height: 50px;
    }
  }

  &__callToAction{

    a{
      border: none;
      padding: 10px 15px;
      border-radius: 20px;
      background: $color-blue-primary;
      color: #fff;
      font-weight: 600;
      text-decoration: none;
      padding: 10px 12px;
      transition: .5s;
      &:hover{
        background: $color-blue-secundary;
        transition: .5s;
      }
    }

  }

}

.Description{
  padding-top: 30px;
  h2{
    text-align: center;
    color: $color-text-primary;
    font-weight: 600;
    @include mq(min-width, 768px){
      font-size: 1.7em;
    }
  }

  &__lineTitle{
    background: url('/dist/images/description-line-title.png') no-repeat;
    background-size: 330px 50px;
    height: 50px;
    width: 330px;
    margin: 0 auto;
    margin-top: -35px;
    @include mq(min-width, 768px){
      background-size: 370px 50px;
      width: 370px;
    }
  }

  &__cont{
    @include mq(min-width, 768px){
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    @include mq(min-width, 1000px){
      width: 900px;
      margin: 0 auto;
    }

    div{
      position: relative;
      margin-bottom: 20px;
    }
  }

  &__stepOne, &__stepTwo, &__stepThree, &__stepFour, &__stepFive{
    @include mq(min-width, 768px){
      display: flex;
      width: 700px;
      margin: 20px 0;
      justify-content: space-around;
      align-items: center;
    }
    @include mq(min-width, 1000px){
      width: 750px;
    }
  }

  &__stepOne, &__stepThree, &__stepFive{
    @include mq(min-width, 768px){
      flex-direction: row-reverse;
    }
  }

  &__stepFour div{
    img{
      width: 300px;
    }
  }

  &__content{
    text-align: center;
    position: relative;
    @include mq(min-width, 768px){
      width: 300px;
      padding: 30px 0;
      text-align: left;
    }
    h3{
      color: $color-text-primary;
      font-weight: 400;
      font-size: 1.5em;
      span{
        color: #39AD5C;
        background: #fff;
        width:10px;
        letter-spacing: 3px;
      }
    }
    p{
      color: $color-text-secundary;
      font-weight: 300;
      font-size: 1.05em;
    }
    span{
      background: $color-blue-primary;
      color: #fff;
      padding: 5px 10px;
      border-radius: 15px;
      font-size: .9em;
    }
  }

  &__image{
    text-align: center;
    @include mq(min-width, 768px){
    }
    img{
      width: 200px;
      @include mq(min-width, 768px){
        width: 240px;
      }
    }
  }

  &__dotLine{
    display: none;
    @include mq(min-width, 768px){
      display: block;
      position: absolute;
      bottom: -110px;
      left: 100px;
      width: 530px;
    }
  }

}

.Services{
  background: url("/dist/images/services-bg.png") no-repeat;
  background-size: cover;
  width: 100vw;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include mq(min-width, 1000px){
    height: 600px;
    background-size: 100vw 700px;
  }

  h2{
    width: 200px;
    display: flex;
    text-shadow: 1px 1px 1px #333;
    position: relative;
    color: #fff;
    top: 0px;
    text-align: center;
    align-self: center;
    margin-bottom: 30px;
  }

  &__lineTitle{
    background: url('/dist/images/services-line-title.png') no-repeat;
    background-size: 350px 40px;
    width: 350px;
    height: 40px;
    position: absolute;
    top: 20px;
    left: -40px;
  }

  &__cont{
    color: #fff;
    display: flex;
    flex-direction: column;
    @include mq(min-width, 1000px){
      flex-direction: row;
      flex-wrap: wrap;
      width: 800px;
    }

    @include mq(min-width, 1200px){
      width: 1200px;
    }

    div{
      margin: 20px 0;
      padding-left: 45px;
      width: 300px;
      align-self: center;
      position: relative;
      @include mq(min-width, 1000px){
        width: 320px;
        padding: 20px 0 20px 80px;
      }
      img{
        width: 50px;
        position: absolute;
        left: -5px;
        top: -15px;
        @include mq(min-width, 1000px){
          top: 0px;
          left: 15px;
          width: 65px;
        }
      }
    }
  }
}

.QuotePlan{
  padding: 30px 0 50px 0;
  &__cont{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h2{
      text-align: center;
      color: $color-text-primary;
      padding-bottom: 20px;
      font-weight: 400;
      @include mq(min-width, 1000px){
        font-size: 1.8em;
      }
    }
  }
  &__form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: visible;

    button{
      width: 210px;
      margin: 0 auto;
      padding: 10px;
      border: none;
      border-radius: 18px;
      background: $color-blue-primary;
      color: #fff;
      outline: none;
      transition: .5s;
      &:hover{
        background: $color-blue-secundary;
        transition: .5s;
      }
    }
  }

  &__inputs{
    position: relative;
    @include mq(min-width, 800px){
      display: flex;
      width: 700px;
      margin: 20px auto 40px auto;
    }
    div{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 15px;
      width: 80%;
      margin: 0 auto;
      @include mq(min-width, 768px){
        width: 300px;
      }
    }

    label{
      align-self: flex-start;
      color: $color-blue-secundary;
    }

    input{
      width: 100%;
      color: $color-text-secundary;
      margin: 15px 0;
      padding: 10px 5px 10px 10px;
      font-weight: 300;
      border-radius: 10px;
      border: 1.5px solid #b3b6b7;
      outline: none;
    }
    input::-webkit-input-placeholder{
      color: #c1bcbc;
      font-weight: 300;
    }
  }

  &__errorMsg{
    display: none;
    color: #E81D62;
    text-align: center;
    position: absolute;
    bottom: -80px;
    width: 100% !important;
    left: -5px;

    @include mq(min-width, 768px){
      bottom: -30px;
    }
  }
}

.Footer{
  display: flex;
  background: $color-blue-primary;
  width: 100%;
  &__cont{
    color: #fff;
    display: flex;
    width: 80%;
    padding: 15px 0;
    margin: 0 auto;
    justify-content: space-around;
    @include mq(min-width, 768px){
      width: 500px;
      margin: 0 auto;
    }
    div{
      position: relative;
      a{
        color: #fff;
        text-decoration: none;
      }
      span{
        position: absolute;
        top: 0;
        left: -18px;
        @include mq(min-width, 768px){
          font-size: 1.3em;
          left: -25px;
        }
      }
    }
  }
}

.ThankPage{
  width: 100vw;
  header{
    width: 100vw;
    height: 70px;
    overflow-y: hidden;
    > img{
      position: relative;
      left: 0;
      width: 100%;
      height: 500px;
      top: -50px;
      z-index: 1;
    }
  }

  &__contHeader{
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
  }

  &__logo{
    width: 200px;
    padding-left: 20px;
  }

  &__nav{
    display: none;
    @include mq(min-width, 768px){
      width: 400px;
      color: white;
      position: absolute;
      right: 50px;
      display: flex;
      justify-content: space-around;
    }
    div{
      a{
        text-decoration: none;
        color: inherit;
      }
    }
  }

  &__headerBg{
    width: 100%;
    height: 70px;
    background: #333;
    position: absolute;
    top:0;
    opacity: .5;
    z-index: 7;

  }

  &__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    width: 80%;
    margin: 0 auto;
    @include mq(min-width, 1000px){
      height: 400px;
      justify-content: center;
    }
    h1{
      text-align: center;
      color: $color-text-primary;
    }

    p{
      color: $color-text-secundary;
      font-weight: 300;
    }
    div{
      a{
        width: 150px;
        border: none;
        background: $color-blue-primary;
        color: #fff;
        font-size: .9em;
        padding: 10px 20px;
        border-radius: 20px;
        font-weight: bold;
        text-decoration: none;
      }
    }
  }
  & footer{
    background: $color-blue-primary;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #fff;
    padding: 20px 5px;
    position: absolute;
    bottom: 0;

    div{
      width: 30%;
      text-align: center;
      @include mq(min-width, 768px){
        width: 180px;
      }
      a{
        text-decoration: none;
        color: #fff;
        position: relative;
      }
      span{
        font-size: 1.3em;
        position: absolute;
        left: -25px;
      }
    }
  }
}

.Privacy{
  width: 100vw;
  color: $color-text-primary;

  &__content{
    width: 80%;
    margin: 0 auto;
    margin: 80px auto 30px auto;
    @include mq(min-width, 1000px){
      width: 800px;
    }

    h1, h2{
      color: #444;
    }

    ul{
      li{
        margin: 15px 0;
      }
    }

    p{
      line-height: 25px;
    }
  }
  footer{
    background: $color-blue-primary;
    width: 100%;
    text-align: center;
    @include mq(min-width, 768px){
      display: flex;
      flex-direction: row;
      justify-content: center;
      text-align: left;
      padding: 15px 0;
    }
    div{
      margin: 10px 0;
      @include mq(min-width, 768px){
        width: 150px;
      }
      a{
        color: #fff;
        text-decoration: none;
      }
    }

  }
}
