doctype html
html(lang='en')
  head
    title #{title}
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Expert marketers helping american business to increase their sales through 5 proven steps using digital marketing.')
    meta(name='google-site-verification', content='O8CmW5fHLv1vkhLI5jRq5A9Chf1Ebob-ExWgyH-CMqg')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='/dist/style.css')
    // Facebook Pixel Code
    script.
      !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
      n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
      document,'script','https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '1121353664548022'); // Insert your pixel ID here.
      fbq('track', 'PageView');
    noscript
      img(height='1', width='1', style='display:none', src='https://www.facebook.com/tr?id=1121353664548022&ev=PageView&noscript=1')
    // DO NOT MODIFY
    // End Facebook Pixel Code
  body

    header(class='Header')
      div(class='Header__logo')
        img(src='/dist/images/logo-fivesteps.png', alt='')
      nav(class='Header__nav')
        ul
          li
            a(href='http://fivesteps.co') HOME
          li
            a(href='#ourServices') OUR SERVICES
          li
            a(href='#quotePlan') START NOW

    section(class='Above')
      div(class='Above__pattern')
      div(class='Above__cont')
        h1 EXPERT MARKETERS HELPING AMERICAN BUSINESSES SUCCEED
        div(class='Above__callToAction')
          a(href='#quotePlan') TALK WITH AN EXPERT
    section(class='Description')
      h2 Our 5 steps to grow your business
      div(class='Description__lineTitle')
      div(class='Description__cont')
        div(class='Description__stepOne')
          div(class='Description__image')
            img(src='/dist/images/step-one.png', alt='')
          div(class='Description__content')
            span Step 1
            h3 We’ll catch up with your business and customers
            p At first we like to know the business our clients are into.
          img(src='/dist/images/description-line-dot1.png', alt='', class='Description__dotLine')
        div(class='Description__stepTwo')
          div(class='Description__image')
            img(src='/dist/images/step-two.png', alt='')
          div(class='Description__content')
            span Step 2
            h3
              | We adapt to your
              span $$
              |  situation
            p
              | All budgets and needs are different, our tailormade service will perfectly work with yours.
          img(src='/dist/images/description-line-dot2.png', alt='', class='Description__dotLine')
        div(class='Description__stepThree')
          div(class='Description__image')
            img(src='/dist/images/step-three.png', alt='')
          div(class='Description__content')
            span Step 3
            h3 Setting up your tailor made srategy to grow
            p
              | Ok, from now on you won't need to worry about your marketing or bringing clients to your door, let us get in charge and we'll do it for you
          img(src='/dist/images/description-line-dot1.png', alt='', class='Description__dotLine')
        div(class='Description__stepFour')
          div(class='Description__image')
            img(src='/dist/images/step-four.png', width='500', alt='')
          div(class='Description__content')
            span Step 4
            h3 Start chasing the money
            p
              | Rolling out your campaigns and optimizing them will help us deliver a great return on investment for you.
          img(src='/dist/images/description-line-dot2.png', alt='', class='Description__dotLine')
        div(class='Description__stepFive')
          div(class='Description__image')
            img(src='/dist/images/step-five.png', alt='')
          div(class='Description__content')
            span Step 5
            h3 Follow up with our experts to keep growing
            p
              | Delivering results is our top priority, from that point forward we’ll seek for ways to keep your business growing

    section(class='Services')
      a(name='ourServices')
      h2
        | Our Key Services
        span(class='Services__lineTitle')
      div(class='Services__cont')
        div
          | Google Positioning (SEO & SEM)
          img(src='/dist/images/icon-google-positioning.svg', alt='')
        div
          | Facebook & Instagram Ads
          img(src='/dist/images/icon-facebook-ad.svg', alt='')
        div
          | Google AdSense & AdWords
          img(src='/dist/images/icon-google-adwords.svg', alt='')
        div
          | Twitter Advertisement
          img(src='/dist/images/icon-twitter-ads.svg', alt='')
        div
          | Retargeting
          img(src='/dist/images/icon-retargeting.svg', alt='')
        div
          | A/B Testing
          img(src='/dist/images/icon-ab-testing.svg', alt='')
        div
          | Youtube Ads
          img(src='/dist/images/icon-youtube-ads.svg', alt='')
        div
          | Website design
          img(src='/dist/images/icon-web-design.svg', alt='')
        div
          | Email marketing
          img(src='/dist/images/icon-email-marketing.svg', alt='')

    section(class='QuotePlan')
      div(class='QuotePlan__cont')
        h2 Start growing now
        div(class='QuotePlan__form')
          div(class='QuotePlan__inputs')
            div
              label(htmlfor='') Full name
              input#fullName(type='text', placeholder='Elon Musk', required='')
            div
              a(name='quotePlan')
              label(htmlfor='') Phone number
              input#phoneNumber(type='text', placeholder='(+61) 1234567', required='')
            span#QuotePlan__errorMsg(class='QuotePlan__errorMsg') You must fill all the fields
          button#formButton TALK WITH AN EXPERT

    footer(class='Footer')
      div(class='Footer__cont')

        div
          a(href='https://www.facebook.com/Five-Steps-1099989990127100/' target='_blank')
            span(class='icon icon-facebook')
            | FiveSteps
        //- div
        //-   a(href='#')
        //-     span(class='icon icon-skype')
        //-     | Skype
        div
          a()
            span(class='icon icon-whatsapp')
            | (+1) 786-347-7583



    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
    script(src='/dist/manifest.js')
    script(src='/dist/vendor.js')
    script(src='/dist/landing.js')
