doctype html
html(lang='en')
  head
    title #{title}
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='/dist/style.css')
    // Facebook Pixel Code
    script.
      !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
      n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
      document,'script','https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '1121353664548022'); // Insert your pixel ID here.
      fbq('track', 'PageView');
    noscript
      img(height='1', width='1', style='display:none', src='https://www.facebook.com/tr?id=1121353664548022&ev=PageView&noscript=1')
    // DO NOT MODIFY
    // End Facebook Pixel Code
    script.
      fbq('track', ‘lead’);

  body

    section(class='ThankPage')
      header
        img(src='/dist/images/above-bg.png', alt='')
        div(class='ThankPage__headerBg')
        div(class='ThankPage__contHeader')
          div
            img(src='/dist/images/logo-fivesteps.png', alt='', class='ThankPage__logo')
          nav(class='ThankPage__nav')
            div
              a(href='http://fivesteps.co') Home
            div
              a(href='http://fivesteps.co/#ourServices') Our Services
            div
              a(href='/#quotePlan') Start Now
      div(class='ThankPage__content')
        h1 THANKS FOR WANTING TO TALK
        p
          | In the next 6 hours one of our experts is going to contact you to start talking about your business and how to make it grow :)
        div
          a(href='http://fivesteps.co') TAKE ME BACK TO HOME
      footer
        div
          a(href='https://www.facebook.com/Five-Steps-1099989990127100/' target='_blank')
            span(class='icon icon-facebook')
            | FiveSteps
        //- div
        //-   a(href='#')
        //-     span(class='icon icon-skype')
        //-     | Skype
        div
          a()
            span(class='icon icon-whatsapp')
            | (+1) 786-347-7583

    //- script(src='/dist/manifest.js')
    //- script(src='/dist/vendor.js')
    //- script(src='/dist/landing.js')
