@font-face {
  font-family: 'suricata';
  src:  url('/dist/iconfonts/suricata.eot?od2trh');
  src:  url('/dist/iconfonts/suricata.eot?od2trh#iefix') format('embedded-opentype'),
    url('/dist/iconfonts/suricata.ttf?od2trh') format('truetype'),
    url('/dist/iconfonts/suricata.woff?od2trh') format('woff'),
    url('/dist/iconfonts/suricata.svg?od2trh#suricata') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'suricata' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e900";
}
.icon-skype:before {
  content: "\e901";
}
.icon-whatsapp:before {
  content: "\e902";
}
